.Signup {
  background-image: url("/images/bg-2.png");
  background-size: cover;
  height: 100vh;
}
.signup-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.signup-main {
  gap: 4.8rem;
}
.signup-header {
  gap: 4.8rem;
}
.signup-header-heading {
  font-size: 4.8rem;
  color: white;
}
.signup-header-heading span {
  color: #0a2e36;
}

.btn-white {
  background-color: white;
}
