.SignupForm {
  min-width: 92.6rem;
  /* max-height: 38rem; */
  padding: 3.2rem 4rem;
  color: #4a4a4a;
  background-color: rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: center; */
  align-items: center;
  justify-items: stretch;
  row-gap: 1.54rem;
  column-gap: 9.2rem;
  border-radius: 2rem;
}

form input {
  border-radius: 0.8rem;
  border: 2px solid #979797;
  padding-left: 1.8rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  font-size: 2rem;
}
form input:focus {
  outline: none;
}
form Button {
  align-content: center;
}
