@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #0f0f0f;
}
body {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
/* flex */

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
}
